{%extends 'base.html' %}
{% block title %}Main page
{% endblock %}
{% block body %}
<h1>Каталог услуг</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col">
        <div class="card">
            <img src="{{url_for('static', filename='img/Kazakhstan.svg.png')}}">
            <div class="card-body">
                <h5 class="card-title">Получение гражданства Казахстана</h5>
                <p class="card-text">Цена: 3'000$</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{url_for('static', filename='img/Kyrgyzstan.svg.png')}}">
            <div class="card-body">
                <h5 class="card-title">Получение гражданства Кыргызстана</h5>
                <p class="card-text">Цена: 6'000$</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{url_for('static', filename='img/Tajikistan.svg.png')}}">
            <div class="card-body">
                <h5 class="card-title">Получение гражданства Таджикистана</h5>
                <p class="card-text">Цена: 2'500$</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{url_for('static', filename='img/Georgia.svg.webp')}}">
            <div class="card-body">
                <h5 class="card-title">Получение гражданства Грузии</h5>
                <p class="card-text">Цена: 7'000$</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
